*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(24, 19, 46);
}
button{
    background-color: #d9b800;
}
a, li, ul, button{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: #fff;
}
h1, h2, h3 {
    color: #fff;
}
.duvidas{
    display: flex;
    flex-direction: column;
    background-color: #f3e0757c;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item-duvida{
    border: 1px solid white;
    width: 600px;
}